# clé jwt
JWT_PRIVATE_KEY=changeme
# emails qui peuvent être admin
ADMIN_EMAILS=admin@mail.com,test@mail.com
# mot de passe pour le seeding des données
PASSWORD=Monsupermotdepasse1@

DB_HOST="db"
SERVER_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASS="postgres"
DB_NAME="reselldb"
